@import './fonts/fonts.css';

/* plugin area start  */

.background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: rgba(255, 255, 255, 0);
}

#main-page {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 30px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
    align-items: center;
}

.container__user {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-style: italic;
    color: #ffffff;
    justify-content: center;
}

.container__user__key {
    margin-left: 20px;
}

.container__controls {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.container__controls__send {
    background-color: #da68f5;
    margin-left: 30px;
}

.container__controls__receive {
    background-color: #0bccf7;
}

.popup__content__controls__cancel {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 30px;
}

.popup__content__params {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.send-input__msg,
.send-input__amount,
.send-input__receiver {
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.send-input__msg__elem,
.send-input__amount__elem,
.send-input__receiver__elem {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    resize: none;
    color: #da68f5;
    height: 100%;
    padding: 0;
    border-radius: 10px;
    padding: 8px;
    max-width: 292px;
}

.send-input__msg__elem:focus,
.send-input__amount__elem:focus,
.send-input__receiver__elem:focus {
    outline-width: 0;
    color: #da68f5;
}

.send-input__msg__elem::placeholder,
.send-input__amount__elem::placeholder,
.send-input__receiver__elem::placeholder {
    color: #da68f5;
}

.send-input__title {
    font-size: 14px;
}

.send-input__title:not(:first-child) {
    margin-top: 5px;
}

.send-input__msg__elem {
    color: #0bccf7;
}

.send-input__msg__elem:focus,
.send-input__msg__elem::placeholder {
    color: #0bccf7;
}

.popup__content.receive {
    height: 200px !important;
}

/* common - start */

body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

::-webkit-scrollbar {
    width: 9px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.ui-button {
    padding: 0 30px;
    border: 0;
    height: 38px;
    border-radius: 50px;
    box-shadow: none;
    color: #042548;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none;
    align-items: center;
}

.ui-button:not(.disabled):hover {
    -moz-box-shadow:0 0 10px #ffffff; 
    -webkit-box-shadow:0 0 10px #ffffff; 
    box-shadow:0 0 10px #ffffff;
}

.ui-button__inner-wrapper {
    display: flex;
    flex-direction: row;
}

.ui-button__icon {
    margin-right: 15px;
}

/* common - end */

.container__main__controls {
    display: flex;
    align-self: center;
    margin-top: 50px;
}

.cancel-text {
    color: #ffffff;
}

/* plugin area ends */

/* common elements start */

.disabled {
    opacity: 0.3;
    cursor: default;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
}

#error-full,
#error-common {
    text-align: center;
    font-size: 16px;
    color: red;
}

#error-full-container {
    display: none;
    margin-top: 120px;
}

/* common elements ends */

/* popup starts */

.popup {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup .popup__content{
    margin: 40px auto 0px auto;
    padding: 30px;
    width: 460px;
    height: 290px;
    border-radius: 10px;
    background-color: #00446c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__content__title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.popup__content__controls {
    margin-top: auto;
}

/* popup ends */